<div class="container">
	<div class="jumbotron text-center">
		<h1>Welcome to MyRecipes</h1>
		<p>A place to share your delicious recipes.</p>
		<%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-success btn-lg' %>
	</div>
	<div class="row">
		<div class="col-md-4 text-center">
			<div class="well">
				<h3>View Recipes as Guest User</h3>
				<p class="left">Browse and view recipes and sign up later.</p>
				<div class="btn btn-warning">Hi</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="well">
				<h3>View Recipes as Guest User</h3>
				<p class="left">Browse and view recipes and sign up later.</p>
				<div class="btn btn-warning">Hi</div>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div class="well">
				<h3>View Recipes as Guest User</h3>
				<p class="left">Browse and view recipes and sign up later.</p>
				<div class="btn btn-warning">Hi</div>
			</div>
		</div>
	</div>
</div>